{{#if session.isAuthenticated}}
<p class="control">
    <a class="button is-small is-info is-outlined" {{action "logout"}}>
		<span class="icon">
			<i class="fa fa-sign-out"></i>
		</span>
		<span>
            Выйти
        </span>
	</a>
</p>
{{else}}
<p class="control">
    {{#link-to "register" class="button is-small"}}
		<span class="icon">
			<i class="fa fa-user-plus"></i>
		</span>
		<span>
			Регистрация
		</span>
	{{/link-to}}
</p>
<p class="control">
    {{#link-to "login" class="button is-small is-info is-outlined"}}
		<span class="icon">
			<i class="fa fa-user"></i>
		</span>
		<span>
            Войти
        </span>
	{{/link-to}}
</p>
{{/if}}
